# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
**/local.properties
**/android/*.iml
**/android/.gradle
**/android/app/google-services.json

# iOS
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/GoogleService-Info.plist

# Firebase / credentials / logs
firebase-debug.log
.firebase/
firebase-debug.log
credentials.json
*.p12
*.jks

# VS Code
.vscode/

# Others
pubspec.lock